*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
   
}
body{
    background-color: #efebcf;
}
.main{
    width: 100%;
    height: 10vh;
    background-color: #849669;
    
}

.navbar{
    width: 100px;
    margin: 0%;
    float: left;
   
    
}

.icon{
    width: 20px;
    float: left;

}

.logo{
    color:rgb(255, 255, 255);
    font-size: 25px;
    font-family: Arial;
    padding-left: 50px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 0px;
    float: left;
    margin-left: 790px;
    margin-top: 50px;
    
   
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + menu {
    padding-top: 60px;
}

ul{
    float:left;
    display:flex;
    justify-content:space-between;
    align-items:end;
    
    
}

ul li{
    list-style:none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    font-size: 14px;
    
}

ul li a{
    text-decoration:wavy;
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    
    text-align:right;
    
}

ul li a:hover:not(.active){
    color: #000000;
}

.active{
    color: #000000;
}
#menu-icon{
    font-size: 35px;
    color:beige;
    z-index: 10001;
    cursor:pointer;
    margin-left: 25px;
    display: none;
}
.border{
    color: #849669;
}

.body{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    
}

.hero {
    align-items: center;
    justify-content: center;
    
    
}
img {
  max-width: 500px;
  max-height: 550px;
  margin-left: 660px;
  margin-top: 100px;
  float:left;
  

}

.text{
    writing-mode:vertical-rl;
    text-orientation:sideways-right;
    font-size: 70px;
    margin-left: 10px;
    margin-top: 200px;
    color: #849669;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    float:left;
    
   
}

.hero_content{
    position:absolute;
    top: 50%;
    left: 165px;

}
h1{
    color: #000000;
    margin: 20px 0px;
    font-size: 75px;
}
h2{
    color:#849669;
    font-size: 35px;
   
}
h3{
    color:#849669;
    letter-spacing: 2px;
    font-size: 30px;
}

.about{
    
    width: 50%;
    padding:10px 0px;
    background-color: #849669;
    margin-top: 1000px;
    
    
}
.about img{
    height: auto;
    width: 500px;
    margin-left: 0px;
    
    
}
.about_text{
    width: 650px;
   
}
.about_main{
    width: 1000px;
    max-width: 120%;
    margin: 40%;
    display:flex;
    
    
}
.about_text p{
    color: #000000;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
    margin-left: 100px;
}

.about_text h2{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-transform:uppercase;
    margin-bottom: 20px;
    margin-left: 100px;
}

.about_text h5{
    color:#849669;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: capitalize;
    margin-left: 100px;
}
button{
    background-color:#b3ca90;
    color: rgb(0, 0, 0);
    text-decoration:solid;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 20px;
    margin-left: 50px;
}
button:hover{
    background-color: #ffffff;
    border: 2px solid #3f4832;
    cursor: pointer;
}
.services{
    background-color:#efebcf;
    padding-top: 200px;
    margin-left: 40px;

}
.main-txt{
    text-align: center;
}
.main-txt p{
    color:#20211d;
    font-size: 30px;
    margin-bottom: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}
.main-txt h2{
    font-size: 25px;
    line-height: 1;
}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box{
    background-color: #b3ca90;
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}
.s-icons i{
    font-size: 32px;
    margin-bottom: 20px;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    color:#000000;
    margin-bottom: 15px;
}
.box p{
    color:#000000;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}
.read{
    display: inline-block;
    padding: 8px 18px;
    background: #31322c;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45s ease;
}
.read:hover{
    letter-spacing: 1px;
    background:rgb(255, 255, 255);
    color: #000000;
}
.box:hover{
    transform: translate(-8px);
    cursor: pointer;
}

.contact{
    background-color: #efebcf;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    margin-top: 300px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.contact-text h4{
    color: #000000;
    margin: 18px 0;
    font-size: 30px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.contact-text h2{
    font-size: 40px;
    line-height: 1;
    text-align:justify;
    color: #667551;
}
.contact-text p{
    color:#000000;
    font-size: 19px;
    line-height: 1.8;
    margin-bottom: 30px;
}
.list{
    margin-bottom: 2.8rem;
}
.list li{
    margin-bottom: 12px;
}
.list li a{
    display: block;
    color:#849669;
    font-size: 14px;
    font-weight: bold;
    transition: all .45s ease;
}
.list li a:hover{
    color:rgb(0, 0, 0);
    transform: translateX(5px);
}
.contact-icons i{
    height: 45px;
    width: 45px;
    background: #20211d;
    color: aliceblue;
    font-size: 22px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;

}
.contact-icons i:hover{
    background: #3f4832;
    color:#000000;
}

.contact-form form{
    position:relative;
}
.contact-form form input,
form textarea{
    width: 100%;
    padding: 14px;
    background:#b3ca90;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.contact-form textarea{
    resize: none;
    height: 240px;
}
.contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background: #20211d;
    color: rgb(255, 255, 255);
    width: 160px;
    transition: all .45s ease;
}
.contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
    background: #b3ca90;
    color:#000000;
}

.end{
    padding:20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: #20211d;

}
.last-text p{
    color:#b3ca90;
    font-size: 14px;
    line-height: 1.8;

}
.top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: #ffffff;
    background: #000000;
}
.top p{
    color: #ffffff;
    line-height: 1.8;
}


@media (max-width: 1480px){
    main{
        padding: 12px 2.5%;
        transition: .1s
    }
}